@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap');


body, html {
    height: 100%;
    background-color: #DCE0D9;
}

div {
    max-width: 1600px;
    
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parallax {
    background-image: url("surv_logo.png");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msgone {
    text-align: center;
}

header {
    background-color: #282828;
    font-family: 'Source Code Pro', monspace;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #6B0F1A;
    color: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #DCE0D9;
    text-decoration: none;
    padding: 35px;
}

footer {
    background-color: #282828;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Source Code Pro', monspace;
}

.footertxt {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#content {
    grid-template-columns: 1fr 1fr;
    padding-left: 360px;
    padding-right: 250px;
    padding-top: 100px;
    display: grid;
    font-size: 1.4em;
    text-align: center;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Source Code Pro', monspace;
}

.msgone {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #DCE0D9
}

.msgtwo {
    grid-column: 1/4;
    grid-row: 6/7;
    background-color: #595959;
    padding: 25px;
    color: white;
    box-shadow: 5px 5px 10px gray;
    margin-top: 50px
}

.msgthree {
    grid-column: 2/4;
    grid-row: 3/4;
    padding: 15px
}

.phone-img {
    grid-column: 3/4;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px gray;
    background: #6B0F1A;
    padding: 2px;
    border: 15px solid #595959;
}

.handshake-img {
    grid-column: 1/2;
    grid-row: 3/6;
    box-shadow: 5px 5px 10px gray;
    background: #6B0F1A;
    padding: 1px;
    border: 15px solid #595959;
}



@media only screen and (mad-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}